@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

/* disable scrolling on the parent element of the item */
body {
  overflow: hidden;
  height: 100vh;
}

.sidebar {
  position: fixed; 
  top: 0;
  left: 0;
  background-color: black;
  width: 270px;  
  height: 100vh; 
  overflow-y: auto;
  font-family: "Orbitron", sans-serif;
  z-index: 1;  
}

.sidebar.minimized {
  width: 50px; 
}

.sidebar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar-item {
  padding: 25px 50px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.disable-link {
  color: inherit;
  text-decoration: none;
}

.sidebar-item:hover {
  background-color: #555555;
  color: #ffffff;
}