.password-strength-checker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  width: 25rem;
}

.strength-display {
  padding: 10px;
  color: white;
  text-align: center;
  width: 25rem;
}

.weak {
  background-color: red;
}

.moderate {
  background-color: orange;
}

.strong {
  background-color: green;
}

